.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem 4rem 1rem;
}


.task-input {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.task-input__container {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 500px;
}

.task-input__btn {
  background-color: #0984e3 !important;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.task-input__btn:hover {
  background-color: #74b9ff !important;
}
.task-input__btn:active {
  background-color: #00b894 !important;
}

.task-input__text {
  border: none;
  width: 100%;
  max-width: 500px;
  font-size: 1rem;
  outline: none;
}

.task {
  width: 100%;
  max-width: 500px;
  background: white;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  cursor: pointer;
}

.task__text { 
  padding-left: 1rem;
  padding-right: 1rem;
}

.task__delete { 
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.task__delete:hover { 
  background-color: #fab1a0;
}

.task__delete:active { 
  background-color: #ff7675;
}